@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;400;500;600&display=swap');

/* CUSROM COLOR VARIABLES */
:root {
    --main-white: #ffffff;
    --main-red: #f41e70;
    --red-button: #ff0263;
    --main-text: #c236c2;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Sono', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    /* Set font size for easy rem calculations; 1rem = 10px */
}

body {
    font-family: 'Sono', sans-serif;
    font-size: 1.8rem;
}

/* NAV */
.nav {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(59, 108, 255);
    z-index: 1;
}

img {
    display: block;
    width: 100%;
}

h4,
h1,
h3 {
    color: var(--main-white);
}

h4 {
    font-size: 3rem;
}

h1 {
    font-size: 8.5rem;
    letter-spacing: -3px;
}

h3 {
    font-size: 2.4rem;
    color: var(--main-red);
}


.logo {
    color: var(--main-white);
    font-size: 3.5rem;
}

.logo-span {
    color: var(--main-red);
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 1rem 2.5rem;
}

ul li a {
    color: var(--main-white);
    text-decoration: none;
    font-weight: 600;
    font-size: 2.2rem;
    transition: .4s;
}

ul li a:hover {
    color: var(--main-red);
}

.btn {
    background-color: var(--red-button);
    color: var(--main-white);
    text-decoration: none;
    border: 2px;
    border-radius: 30px;
    font-weight: 500;
    padding: 10px 25px;
    transition: .4s;
}

.btn:hover {
    transform: scale(1.2);
}

/* WELCOME SECTION */
.welcome-section {
    height: 100vh;
    width: 100%;
    background-image: url(../background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.my-name {
    margin-right: 3rem;
}

/* ABOUT ME */
.section-about-me {
    width: 100%;
    height: 100vh;
    padding: 10rem 0rem;
    background-color: rgb(42, 36, 36);
}

.about-me-header {
    max-width: 95%;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about-me-header h2 {
    color: var(--main-white);
    font-size: 7.5rem;
    bottom: 5rem;
    letter-spacing: -0.3rem;
}

.about-me-header h5 {
    color: var(--main-white);
    font-size: 2.2rem;
    margin-bottom: 3rem;
}

.about-me-header span {
    color: var(--main-red);
}

.about-me-text {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-me-text p {
    color: var(--main-text);
    line-height: 3rem;
    font-size: 2rem;
}

/* PROJECTS SECTION */

.projects-section {
    background-color: #00a2ff;
    width: 100%;
    height: 100vh;
    padding: 10rem 0rem;
}

.projects-section-header {
    color: var(--main-white);
    font-size: 5rem;
    width: 100%;
    text-align: center;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40rem;
}

.my-project {
    width: 21rem;
    height: 23rem;
    padding: 2rem 3.5rem;
    border-radius: 2rem;
    background: var(--main-white);
    margin: 1.5rem;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.project-title {
    width: auto;
    color: var(--main-red);
    font-size: 1.3rem;
}

/* CONTACTS SECTION */
.contact-me-section {
    width: 100%;
    height: 100vh;
    background: rgb(92, 117, 96);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-me-header {
    color: var(--main-white);
    font-size: 2rem;
    font-weight: 600;
}

.social {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social a,
p {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-white);
}